.toolbox {
  background: #e54543;
  right: 50px;
  top: 50px;
  position: absolute;
  width: 500px;
  text-align: center;
  padding: 20px;
}

.toolbox b {
  font-size: 50px;
  text-transform: uppercase;
}

#canvas {
  border: 2px solid #00888a;
  margin: 0 auto;

}

#room {
  background: #eee;
}
